/* Coolors Exported Palette - coolors.co/06aed5-086788-f0df1e-c91b18-080f0f */

/* HSL */
$color1: hsla(191%, 95%, 43%, 1); //BRIGHT CERULEAN
$color2: hsla(195%, 89%, 28%, 1); //SEA BLUE
$color3: hsla(55%, 88%, 53%, 1); //DANDELION
$color4: hsla(1%, 79%, 44%, 1); //VENETIAN RED
$color5: hsla(180%, 30%, 5%, 1); //RICH BLACK (FOGRA29)

/* RGB */
$color1: rgba(6, 174, 213, 1); //BRIGHT CERULEAN
$color2: rgba(8, 103, 136, 1); //SEA BLUE
$color3: rgba(240, 223, 30, 1); //DANDELION
$color4: rgba(201, 27, 24, 1); //VENETIAN RED
$color5: rgba(8, 15, 15, 1); //RICH BLACK (FOGRA29)